apiVersion: apps/v1
kind: Deployment
metadata:
  name: picolimbo
  namespace: minecraft
  labels:
    app.kubernetes.io/name: minecraft
    app.kubernetes.io/instance: picolimbo
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: minecraft
      app.kubernetes.io/instance: picolimbo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: minecraft
        app.kubernetes.io/instance: picolimbo
      annotations:
        mc-router.itzg.me/externalServerName: "proxy.${FQDN}"
    spec:
      containers:
        - name: picolimbo
          image: ghcr.io/quozul/picolimbo:latest
          imagePullPolicy: Always
          ports:
            - name: minecraft
              containerPort: 25565
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /picolimbo.toml
              subPath: picolimbo.toml
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          readinessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: picolimbo
