apiVersion: apps/v1
kind: Deployment
metadata:
  name: panel
spec:
  replicas: 1
  selector:
    matchLabels:
      app: panel
  template:
    metadata:
      labels:
        app: panel
    spec:
      containers:
        - name: panel
          image: ghcr.io/pterodactyl/panel:latest
          ports:
            - containerPort: 80
          command: ["/bin/sh", "-c"]
          args:
            - apk add --no-cache mariadb-client && cd /app && php artisan migrate --seed --force && mkdir -p /var/log/supervisord && exec /usr/bin/supervisord -n -c /etc/supervisord.conf
          envFrom:
            - configMapRef:
                name: panel
            - secretRef:
                name: panel
          volumeMounts:
            - name: var
              mountPath: /app/var/
            - name: nginx
              mountPath: /etc/nginx/http.d/
            - name: logs
              mountPath: /app/storage/logs
      volumes:
        - name: var
          persistentVolumeClaim:
            claimName: panel-var
        - name: nginx
          persistentVolumeClaim:
            claimName: panel-nginx
        - name: logs
          persistentVolumeClaim:
            claimName: panel-logs
